@use "./../../styles/variables.scss" as colors;

.hourMainContainer {
    padding: 0 32px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

        .hourTitleContainer {
            display: flex;
            justify-content: center;
            align-items: end;

            width: 100%;
        }
}

.hourContainer {
    width: 180px;

    font-size: 40px;
    font-weight: 300;

    margin-right: -85px;

    :first-child {
        margin: 0;
        font-size: 16px;
    }

    h3 {
        margin: 0;
        font-family: "Orbitron";
    }
}

.titleContainer {
    height: 118px;
    width: 233px;

    display: flex;
    flex-direction: column;
    justify-content: end;

    font-size: 32px;
    font-weight: 400;

    :first-child {
        align-self: flex-start;
        margin: 0;
    }
    :last-child {
        align-self: flex-end;
        margin: 0;
        margin-top: -8px;
        color: colors.$blueColor;
    }
}
