@use "./../../styles/_variables.scss" as colors;

.footerStyles {
    position: absolute;
    bottom: 64px;

    width: 100%;
    text-align: center;
}

.footerDay {
    color: colors.$strokeColor;
}

.footerNight {
    color: white;
}