@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&family=Orbitron:wght@400&display=swap');
@font-face {
    font-family: "Digital Dismay";
    src: url(./assets/fonts/digital-dismay.regular.otf);
}

* {
    box-sizing: border-box;
    font-family: "Montserrat";
}

a {
    text-decoration: none;
}